
.dark{
  color : black ;
  background-color:  #FFFAFA ;

}


.light{
  color : white ;
  background-color: #2D2F36;
  /* width:auto; */
}

.pages{
  color : white ;
  background-color: #212328 ;
} 





